NEXT_PUBLIC_SUPABASE_URL=https://gumerlpiscpgwftynjgw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd1bWVybHBpc2NwZ3dmdHluamd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxODM0OTMsImV4cCI6MjA4OTc1OTQ5M30.4tpr7zCDx0c8U0dVFQErzBks6jL62WOzi29rNk25EcQ
